.friendAvatar{
    vertical-align: middle;
    margin-bottom: 15px;
    color: white;
    margin-top: 60px;
}
.friend{
    margin-bottom: 16px;
}

.friendAvatar img{
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 50%;
}

.friendAvatar h2{
    color: white;

}
.friendAvatar .name {
  text-align: center;
}