.selectedPage{
    color: white;
    border-bottom: 3px solid #5da2d5;
    text-align: center;
}

.paginator{
    margin:10px 30px;
    display: flex;
    justify-content: space-between;
}


.page{
    display: inline-block;
    width: 30px;

}
.btn{
    border: 2px solid white;
    color: white;
    font-size: 14px;
    background-color: transparent;
    text-decoration: underline;
    bottom: 10px;
}

.buttonDisabled {
    display: none;
}

