.header {
    grid-area: h;
    background-color: #5da2d5;
}
.container{
    width: 95%;
    margin: 0 auto;
}

.header img{
    width: 60px;
}
.loginBlock {
    margin-top: 16px;
    float: right;
}
.loginBlock a{
    border: 1px solid white;
    color: white;
    padding: 4px 12px 8px;
}
.loginButtonMenu{
    margin:  -6px 0 0 0;
}

.loginButton{
    padding: 4px 12px 8px;
    color: white;
    border: 1px solid white;
    text-decoration: underline ;
    background-color: transparent;
    font-size: 16px;
    margin-left:14px ;
}