.container{
    margin: 50px 30px;
   min-width: 594px ;
}

caption {
    display: flex;
   justify-content: center;
}

.table {
    border: 1px solid;
    border-collapse: collapse;
    margin: 5px 0 20px 0;
    width: 100%;
}
th , td {
    border: 1px solid;
    text-align: left;
}

.gray {
    background-color: darkgrey;
}
.smallText {
    font-size: 80%;
}

.small{
    width: 15px ;
    text-align: center;
}

.textItalic{
    font-style: italic;;
}

.paragraph{
    text-indent: 20px;
    text-align: justify;
    padding-bottom: 5px;
}
.placeForSignature{
    width: 90%;
    padding: 0;
    font-size: 80%;
}

.placeForSignature td{
    min-width: 10px;
    font-style: normal;
    border: none;
}
td.underLine {
    border-top: 1px solid black;
    text-align: center;
}
