.massage {
    display: inline-block;
    vertical-align: bottom;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    margin: 0 0 50px;
    padding: 10px 15px;
    position: relative;

    font-family: 'Comic Sans MS';
    color: #00488f;
    font-size: 16px;

}
.massage:before{
    position: absolute;
    content:'';
    left: -10px;
    bottom: 0px;
    border: 16px solid transparent;
    border-bottom: 30px solid white;}